/* палитра
основной цвет #757575
дополнительный цвет #212121
цвет акцента #2196F3
белый #FFFFFF
черный #000000
футер rgba(255, 255, 255, 0,6)
*/

:root {
  --primary-text-color: #757575;
  --secondary-title-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --primary-black-color: #000000;
  --secondary-text-color: rgba(255, 255, 255, 0.6);
  --bcg-button-color: #f5f4fa;
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* header */

/* логотип */
.logo {
  color: var(--primary-black-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}
.logo-web {
  color: var(--accent-color);
}

/* ссылки навигации */
.nav-list .link {
  color: var(--secondary-title-color);
  font-weight: 500;
  line-height: 1.33;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.nav-list .link:hover,
.nav-list .link:focus {
  color: var(--accent-color);
  text-decoration: none;
}

.nav-list .link.current {
  color: var(--accent-color);
}

/* Контакты в шапке */
.nav-contacts .contacts {
  color: var(--primary-text-color);
  font-weight: 500;
  line-height: 1.33;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.nav-contacts .contacts:hover,
.nav-contacts .contacts:focus {
  color: var(--accent-color);
}

/* main */

/* убирает точки в списках */
.list {
  list-style: none;
}

/* hero */
.hero-title {
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* other sections styles */
.section-title {
  color: var(--secondary-title-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

/* секция Наши проекты в портфолио */
.projects-section-title .section-title {
  color: var(--secondary-title-color);
  font-size: 18px;
  line-height: 2;
  text-align: left;
  letter-spacing: 0.06em;
}
.projects-section-title p {
  font-size: 16px;
  line-height: 1.87;
}

/* секция our features в индекс */
.features-list .title {
  color: var(--secondary-title-color);
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}

/* секция наша команда в индекс */
.team-list .title {
  color: var(--secondary-title-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team-list p {
  line-height: 1.19;
  text-align: center;
}

/* footer */
.footer-address {
  color: var(--primary-white-color);
}

.footer-contacts {
  color: var(--secondary-text-color);
  text-decoration: none;
}

/* buttons */

/* кнопка в индекс */
.hero-button {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
}

/* кнопки в портфолио */
.button {
  background-color: var(--bcg-button-color);
  color: var(--secondary-title-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
}

.button:hover,
.button:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}
